<!DOCTYPE html>
html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="theme-color", content="#000000")
    meta(name="description", content="Cesar Boaventura, Front-End Engineer")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Mono")
    link(rel="stylesheet", href="./styles/index.styl")
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-72774159-1")
    title Cesar Boaventura • Front-End Engineer
  body
    #particles

    main
      header#main-header
        h1 Cesar Boaventura
        h2 Front-End Engineer

      section#profile
        p
          | I am a <span id="age"></span> years old Front End Developer with <span id="experience"></span>+ years of professional experience.
        p
          | Self-taught, currently focused on React
        p
          | Experience with CSS methodologies like BEM and RSCSS (Styled Components for React)
        p
          | Deep JS concepts like Prototypes, Closures, Functional Programming, Asynchronous Programming and Event Loop

      hr

      footer#main-footer
        .social-media
          h3 Contact Me Via:
          a(
            href="https://www.linkedin.com/in/cesar-boaventura/",
            target="_blank",
            rel="noreferrer",
            class="linkedin",
            data-track-id="linkedin"
          )
          a(
            href="https://github.com/cesar-cb",
            target="_blank",
            rel="noreferrer",
            class="github",
            data-track-id="github"
          )
          a(
            href="mailto:cesar.boaventura61@gmail.com",
            class="mail",
            data-track-id="mail"
          )

    script(src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
    script(src="./scripts/main.js")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-72774159-1');
